<meta charset="UTF-8">

<title><%= title %></title>

<meta property="og:title" content="<%= title %>" />
<meta property="og:description" content="Official Polycloud Blog" />
<meta property="og:author" content="AdCharity" />

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="HandheldFriendly" content="true" />

<meta name="description" content="Official Polycloud Blog" />
<meta name="keywords" content="AdCharity, Blog, Poly, Cloud" />
<meta name="author" content="AdCharity" />

<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />