<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/seo.html', {title: 'Blog'}); %>
	<%- include('./partials/assets.html'); %>
	<link href="/styles/page.css" rel="stylesheet" />
	<link href="/styles/index.css" rel="stylesheet" />
</head>
<body>
	<div id="app">
		<%- include('./partials/header.html'); %>
		<main>
			<% for(let article of articles) { 
				let {data} = article 
				let sum = data.content.toString().split('\n')
				let disp = sum[0].charAt(0) == '#' ? sum[1] : sum[0]
				%>
				<div class="card">
					<h1><%= data.title %></h1>
					<p><%= data.meta %> by <%= data.author %></p>
					<p><%= disp %></p>
					<a href="/posts/<%= article.id %>">Read More</a>
				</div>
			<% } %>
		</main>
	</div>
</body>
</html>