<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/seo.html', {title: locals.title}); %>
	<%- include('./partials/assets.html'); %>
	<link href="/styles/page.css" rel="stylesheet" />
	<% if(locals.user !== 'denied') { %>
		<script>
			const id = "<%= id%>"
			const original = `<%= user.replace(/\`/g, "\\`") %>`
		</script>
		<script src="/scripts/edit.js" defer></script>
	<% } %>
</head>
<body>
	<div id="app">
		<%- include('./partials/header.html', {remove: locals.user !== 'denied'}); %>
		<main>
			<div class="card">
				<h1 id="title"><%= title %></h1>
				<p><%= meta %> by <%= author %></p>
				<div id="content">
					<%- content%>
				</div>
				<div id="options">
				</div>
			</div>
		</main>
	</div>
</body>
</html>