html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	color: #212121;
}
*, *::before, *::after {
	box-sizing: inherit;
}
#app {
	height: 100%;
}
p, ul, ol {
	color: #555;
	font-size: 1.1em;
}
::selection {
	background-color: gainsboro;
	color: #fff;
}
a, a:visited {
	color: dodgerblue;
	text-decoration: none;
	font-size: 1.1em;
}
a:hover {
	text-decoration: underline;
}
img {
	image-rendering: optimizeSpeed;
	border-radius: 2px;
	max-width: 100%;
	margin: 0 auto;
}
code {
    font-family: monospace !important;
    color: #C7254E;
    font-size: 100%;
    border-radius: 2px;
    padding: 2px 4px;
    background-color: #F9F2F4;
}
pre code {
    color: #000;
    font-size: 100%;
    tab-size: 4;
    padding: 0;
    background: none;
}
pre {
	width: 100%;
    display: inline-block;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    padding: 10px 16px;
    background-color: #F8F8F8;
	overflow-x: scroll;
}
q, blockquote {
	border-left: 0.3em solid gainsboro;
	padding: 0 0 0 0.5em;
	color: gainsboro;
	font-style: italic;
	margin: 0;
}
#new-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	animation: fade-in 0.5s linear forwards;
}
#new-post {
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	padding: 1em;
	min-width: 40vw;
	border: 1px solid #212121;
	background: #fff;
}
#new-post input[type=text],
#new-post textarea {
	font-family: 'Raleway', sans-serif;	
	font-size: 100%;
	padding: 0.5em 1em;
	outline: none;
	border-radius: 2px;
	border: 1px solid #212121;
	color: grey;
	margin: 0 0 1em 0;
}
#new-post input[type=text]:focus,
#new-post textarea:focus {
	color: #212121;
	border-color: dodgerblue;
}
#new-post textarea {
	resize: vertical;
	min-height: 10em;
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
#preview {
	outline: 0;
	border: 2px solid;
	border-radius: 2px;
	color: #fff;
	font-size: 100%;
	padding: 0.5em;
	cursor: pointer;
	transition: background 0.3s ease;
	text-decoration: none;
	margin: 0 0 1em 0;
	border-color: #32CD32;
	background: #32CD32;
}
#preview:hover {
	background: rgb(35, 150, 35);
}
#new-wrapper > img {
	height: 3em;
	width: 3em;
	margin: 0 1em 0 0;
	cursor: pointer;
}